<!DOCTYPE html>
<html lang="en">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<header>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" th:href="@{/operation}">Ma Banque</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a th:href="@{/operation}">Home</a></li>
					<li class="active"><a href="#">ADD Compte</a></li>
					<li><a th:href="@{/ListComptes}">Comptes</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/login?logout}">Logout</a></li>

				</ul>
			</div>
		</nav>
	</header>
	<section layout:fragment="content">
		<div layout:fragment="content">
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">New compte</div>
					<div class="panel-body">
						<form th:action="@{/saveCompte}" method="post">

							<div class="form-group">
								<label class="control-label">Code du Compte:</label> <input
									class="form-control" type="text" name="codeCompte"
									placeholder="Merci de mettre un code facile qui vous ai facile a retenir s'il vous plait..." th:value="${codeCompte}" />
							</div>

							<div class="form-group">
								<label class="control-label">E-mail:</label> <input
									class="form-control" type="text" name="mailCompte"
									placeholder="Votre e-mail s'il vous plait..." th:value="${mailCompte}" />
							</div>

							<div class="form-group">
								<label class="control-label">Votre nom complet:</label> <input
									class="form-control" type="text" name="nomCompte"
									placeholder="Votre nom s'il vous plait..." th:value="${nomCompte}" />
							</div>

							<div class="form-group">
								<label class="control-label">Le solde initial:</label> <input
									class="form-control" type="text" name="soldeCompte"
									placeholder="Votre solde s'il vous plait..." th:value="${soldeCompte}" />
							</div>

							<div class="form-group">
								<label class="control-label">Le type de Compte:</label>
								<div class="form-group">
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<input type="radio" name="typeCompte" value="1" /><label>Compte
										Courant</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="radio" name="typeCompte" value="2" /><label>Compte
										Epargne</label>
								</div>
							</div>
									<center><button type="submit" class="btn btn-primary">Save</button></center>




							</div>
						</form>
						<!-- <div class="text-danger"
							th:text="${#httpServletRequest.getParameter('Error')}"></div> -->
					</div>
				</div>
			</div>
		</div>

	</section>
	<footer>
		<div class="navbar-fixed-bottom">
			<small>@CopyRight2022 By Diallo Thierno Alimou</small>
		</div>
	</footer>

</body>
</html>
